.div-a{
    padding: 14px 16px;
}
*{
    margin: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.btn{
    background-color: #efe3af;
    border-color: #333;
}
.btn:hover{
    background-color: #333;
    color: #efe3af;
}
.dark-css{
    background-color: #333;
    color: #efe3af;
}
.light-css{
    background-color: #efe3af;
    color: #333;
}
nav{
    margin:0px;
}




.form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
}

.form-container {
    max-width: 300px;
    padding: 10px;
}

.form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
  
